<ng-container>
  <div class="row">
    <div class="col-lg-4 mb-4 orders-0">
      <label for="providers" class="form-label">Select provider</label>
      <select
        id="providers"
        class="form-select form-select-lg"
        (change)="handleExamDropdown($event)"
      >
        <option value="" selected>Please select a option</option>
        <option *ngFor="let item of data" [value]="item.provider">
          {{ item.provider }}
        </option>
      </select>
    </div>
    <div class="col-lg-4 mb-4 orders-1">
      <label for="cert-exam" class="form-label">Select Exam</label>
      <select
        id="cert-exam"
        class="form-select form-select-lg"
        (change)="loadQuestions($event)"
      >
        <option value="" selected>Please select a option</option>
        <option *ngFor="let exam of this.selectedExams" [value]="exam">
          {{ exam }}
        </option>
      </select>
    </div>
  </div>
  <ng-container *ngIf="questionsData && questionsData.length > 0">
    <form [formGroup]="quizForm" (submit)="onSubmit()">
      <ng-container formArrayName="quizzes">
        <ng-container
          *ngFor="let quiz of quizzes.controls; let i = index"
          [formGroupName]="i"
        >
          <app-quiz
            [id]="'quiz-' + i + 1"
            [question]="quiz.get('question')?.value"
            [questionNumber]="i + 1"
            [images]="quiz.get('images')?.value"
            [correct]="quiz.get('correct')?.value"
            [disabled]="false"
          >
            <ng-container
              *ngIf="
                !isStringArray(quiz.get('correct')?.value);
                else multiOption
              "
              formArrayName="options"
            >
              <ng-container
                *ngFor="
                  let option of quiz.get('options')?.value.controls;
                  let j = index
                "
              >
                <app-single-select
                  [formControlName]="j"
                  [id]="i + 1 + '-singleOption-' + j"
                  [name]="i + 1"
                  [value]="option.value"
                  [checked]="false"
                  [disabled]="false"
                  [correct]="
                    checkCorrectAnswer(quiz.get('correct')?.value, option.value)
                  "
                />
              </ng-container>
            </ng-container>
            <ng-template #multiOption formArrayName="options">
              <ng-container
                *ngFor="
                  let option of quiz.get('options')?.value.controls;
                  let j = index
                "
              > {{option}}
                <app-multi-select
                  [formControlName]="j"
                  [id]="i + 1 + '-multiOption-' + j"
                  [value]="option.value"
                  [checked]="false"
                  [disabled]="false"
                  [correct]="
                    checkCorrectAnswer(quiz.get('correct')?.value, option.value)
                  "
                />
              </ng-container>
            </ng-template>
          </app-quiz>
        </ng-container>
      </ng-container>
      <div class="row mt-3">
        <div class="col-sm-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
      </div>
    </form>
  </ng-container>
</ng-container>
